<body class="w-full min-h-screen flex flex-col items-center bg-gray-50">
  <header>
    <img
      src="/assets/img/trello.svg"
      alt="trello"
      class="h-[150px] m-auto py-12"
    />
  </header>
  <main class="w-full flex-grow flex justify-center items-center">
    <form
      action=""
      class="sm:bg-white sm:rounded-md w-[360px] p-5 sm:shadow-lg flex flex-col sm:border-2 sm:border-[#dfe1e6]"
    >
      <h1 class="text-center font-bold py-2 text-gray-500">
        Iniciar Sesión en Trello
      </h1>
      <input
        [(ngModel)]="user_login.email"
        name="email"
        type="text"
        placeholder="Introduzca el correo electronico"
        class="w-full rounded-md bg-gray-50 p-2 mt-3 text-center border-2 border-[#dfe1e6]"
      />
      <input
        [(ngModel)]="user_login.password"
        name="password"
        type="text"
        placeholder="Introduzca la contraseña"
        class="w-full rounded-md bg-gray-50 p-2 mt-3 text-center border-2 border-[#dfe1e6]"
      />
      <input
        (click)="capture_data()"
        type="button"
        value="Continuar"
        class="w-full rounded-md bg-[#5AAC44] p-2 mt-3 text-center text-white hover:bg-[#61BD4F] focus:ring-black focus:ring-2 cursor-pointer"
      />
      <p class="text-center text-gray-600 mt-3">O</p>
      <app-button *ngFor="let each of social" [data]="each" />
      <p class="text-center text-[#0052cc] cursor-pointer p-1 mt-5">
        <span class="hover:border-b-2 hover:border-[#0052cc]"
          >¿No puede iniciar sesión?</span
        >
      </p>
      <p class="text-center text-[#0052cc] cursor-pointer p-1">
        <span class="hover:border-b-2 hover:border-[#0052cc]"
          >Regístrese para crear una cuenta</span
        >
      </p>
    </form>
  </main>
  <footer class="h-[150px] w-[360px] lg:w-full flex justify-center items-center">
    <img
      src="/assets/img/pic1.svg"
      alt="left"
      class="hidden sm:flex w-[200px] p-5 fixed bottom-0 left-0"
    />
    <article class="flex flex-wrap flex-col items-center">
      <img
      src="/assets/img/atlassian.svg"
      alt="trello"
      class="h-[50px] m-auto pb-2"
    />
    <span class="flex flex-wrap items-center justify-center">
      <app-under-link *ngFor="let each of links" [data]="each" />
    </span>
    </article>
    <img
      src="/assets/img/pic2.svg"
      alt="right"
      class="hidden sm:flex w-[200px] p-5 fixed bottom-0 right-0"
    />
  </footer>
</body>
